<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/flash')%>
  <!-- normalize -->
  <link rel="stylesheet" href="./stylesheets/normalize.css">
  <!-- font awsoume -->
  <link rel="stylesheet" href="/stylesheets/all.min.css">
  <!-- Roboto font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <!-- style sheet -->
  <link rel="stylesheet" href="/stylesheets/signup.css">
  <title>Saa3d</title>
</head>
<body>
   <main>
    <div class="formcontainer">
    <form method="POST">
      <button id="log" class=<%- (path == '/login' ? "selected": "" ) %>>Log In</button>
      <button id="sign" class= <%- (path == '/register' ? "selected": "" ) %>>Sign Up</button>
      <div class="log" style= <%- (path == '/login' ? "display:block;": "display:none;" ) %>>
        <br>
        <label for="username">User Name</label>
        <br>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <input formaction="/login" type="submit" value="Login" name="Login">
      </div>
      <div class="sign" style= <%- (path == '/register' ? "display:block;": "display:none;" ) %>>
        <br>
        <label for="rusername">User Name</label>
        <br>
        <input type="text" name="rusername" id="rusername">
        <br>
        <label for="remail">Email</label>
        <br>
        <input type="email" name="remail" id="remail">
        <br>
        <label for="rpassword">Password</label>
        <br>
        <input type="password" name="rpassword" id="rpassword">
        <br>
        <label for="country">Country</label>
        <br>
        <input list="coutries" name="country" id="country">
        <datalist id="coutries">
        </datalist>
        <br>
        <label for="gender">Gender</label>
        <br>
        <select name="gender" id="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <br>
        <input type="checkbox" name="accept" id="accept">
        <label for="accept">I accept the Terms of Us</label>
        <br>
        <br>
        <input formaction="/register" type="submit" value="Register" name="register">
      </form>
    </div>
    </div>
    <!-- start aside -->
    <div class="aside">
      <img src="../images/logo.png" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quisquam aut at. Voluptate, molestiae perspiciatis! Nesciunt adipisci rem nisi commodi debitis. Dolor fugit praesentium, culpa nihil repellendus tempore vero at?</p>
    </div>
  </main>
  <script src="/javascripts/sign.js"></script>
</body>
</html>